{% extends 'icon-nav.html' %}

{% block title %}{{project.title}}{% endblock title %}

{% block content %}
    <h1>{{project.title}}</h1>
    <h2>{{project.description}}</h2>
    <p>There are {} tickets that need to be completed</p>
    <ol>
        {% for ticket in ticket_list %}
        <a href="{% url 'ticket_new' %}">Add a Ticket</a>
        <li>{{ ticket.title }} <a href="{% url 'ticket_delete' ticket.id %}">delete</a>|<a href="{% url 'ticket_detail' ticket.id %}">edit</a></li>
        {{ ticket.project }}    
    {% empty %}
    <p>There are no tickets in this project yet. <a href="{% url 'ticket_new' %}">create one here</a></p>
    {% endfor %}
    </ol>
{% endblock content %}