{% extends 'icon-nav.html' %}

{% block title %}Sprints{% endblock title %}

{% block content %}
    <h1>Sprints</h1>
    {% for sprint in sprint_list %}
    <h4>{{ sprint.title }}</h4>
    <h4> End Date : {{ sprint.end_date }}</h4>
    <h5> Project: {{sprint.project}}</h5>
    <p>{{sprint.}}</p>
        <p> Creator: {{ sprint.created_by }}</p>
        <p> Current Milestone : {{sprint.get_milestone_display}}</p>
        <a class="btn btn-primary btn-sm" href="{% url 'sprint_detail' sprint.id %}">Details</a>
        {% empty %}
        <p>Relax its over for now... or you can <a href="{% url 'sprint_new' %}">create a sprint</a></p>
        {% endfor %}
        
        {% endblock content %}
        <!-- <div class="col-lg-14 mx-auto">
            <div class="list-group mx-auto">
            <h6 class="list-group-header">
                Current Sprint
            </h6>
            
                <a class="list-group-item list-group-item-action justify-content-between" href="#">
                <span class="list-group-progress" style="width: {% for ticket in sprint %} {{count}} {% endfor %}  % ;"></span>
                <span>Current Sprint</span>
                {% comment %} <span class="text-muted"> {% with sprint={{count|length}} %}
                    {% with progress={{count[2]|length}} %}
                    {{ sprint }} / {{ progress }} %
                    {{ sprint }} % {{ progress }}
                    {% endwith %} {% endcomment %}
                    %</span>
                </a>

                {% for record in sprints_tasks %}
                    <h4>{{record.sprint.id}} {{record.sprint.title}} {{record.tickets|length}}</h4>
                {% endfor %}
                
                </a>
            </div>
        </div> -->