{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock title %} &middot; </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    
      <link href="{% static 'assets/css/toolkit-inverse.css' %}" rel="stylesheet">
    
    
    <link href="{% static 'assets/css/application.css' %}" rel="stylesheet">

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>
  </head>


<body>
  



<div class="with-iconav">

  <nav class="iconav">
    <a class="iconav-brand" href="{% url 'home' %}">
      <span class="icon icon-leaf iconav-brand-icon"></span>
    </a>
    <div class="iconav-slider">
      <ul class="nav nav-pills iconav-nav flex-md-column">
        <li class="nav-item">
          <a class="nav-link bg-link" href="/admin" title="Admin Portal" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon icon-clipboard"></span>
            <small class="iconav-nav-label hidden-md-up">Admin Portal</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}" title="Dashboard" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon icon-home"></span>
            <small class="iconav-nav-label hidden-md-up">Dashboard</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-secondary" href="{% url 'project_list' %}" title="Project List" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon icon-globe"></span>
            <small class="iconav-nav-label hidden-md-up">Project List</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-secondary" href="{% url 'ticket-history' %}" title="Ticket history" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon icon-list"></span>
            <small class="iconav-nav-label hidden-md-up">History</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-link" href="{% url 'project_new' %}" title="New Project" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon icon-upload"></span>
            <small class="iconav-nav-label hidden-md-up">New Project</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'about' %}" title="About" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon icon-text-document"></span>
            <small class="iconav-nav-label hidden-md-up">About</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'faq' %}" title="Frequently Asked Questions" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon icon-chat"></span>
            <small class="iconav-nav-label hidden-md-up">FAQ</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}" title="Contact" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon icon-bell"></span>
            <small class="iconav-nav-label hidden-md-up">Contact</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-link" href="{% url 'logout' %}" title="Logout" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon icon-arrow-left"></span>
            <small class="iconav-nav-label hidden-md-up">Logout</small>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    
    {% block content %}
    {% endblock content %}
    

  </div>
</div>


    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/tether.min.js' %}"></script>
    <script src="{% static 'assets/js/chart.js' %}"></script>
    <script src="{% static 'assets/js/tablesorter.min.js' %}"></script>
    <script src="{% static 'assets/js/toolkit.js' %}"></script>
    <script src="{% static 'assets/js/application.js' %}"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>
  </body>
</html>

