{% extends 'base.html' %}
{% load static %}

{% block title %}QlickBooks{% endblock title %}

{% block content %}
  
    <div class="intro">
      <h1>QlickBooks</h1> 
        <p>Welcome to QlickBooks, our application is directed towards your stay-home mom to your fortune 500 CEO. What our app does is break down every task that needs to be completed in order to keep all your team members or family members on track. Our services are completely free and we highly encourage you to share our amazing app with your friends or boss that needs a little help organizing tasks!</p> 
    </div>
    <div class="signin">
      <h1>Welcome!</h1>
      <a href="/accounts/login" class="btn btn-primary">LogIn</a>
      <p>or</p>
      <a href="/accounts/signup" class="btn btn-warning">Signup</a>
    </div>
  
{% endblock content %}
