{% extends 'icon-nav.html' %}

{% block title %}
    {{ ticket.title }}
{% endblock title %}

{% block content %}
    <h1>{{ ticket.title }}</h1>
    <h3>{{ ticket.status }}</h3>
    <h3>{{ ticket.difficulty }}</h3>
    <h3>{{ ticket.dateCreated }}</h3>
    <h3>{{ ticket.dateResolved }}</h3>
    <p>{{ ticket.commentary }}</p>
    <h6>Posted by {{ ticket.author }}</h6>
    <a href="{% url 'ticket_edit' ticket.id %}">Edit Post</a> |
    <a href="{% url 'ticket_delete' ticket.id %}">Delete</a>
{% endblock content %}