{% extends 'icon-nav.html' %}

{% block title %}
    {{ ticket.title }}
{% endblock title %}
<!-- <form method="post" action="{% url 'done' object.pk %}">
    {% csrf_token %}
    <button type="submit">Done</button>
</form> -->

{% block content %}
<div class="col d-flex justify-content-center">
    <div class="card " style="width: 30rem;">
        <div class="card-body">
        <h1 class="card-title text-dark">{{ ticket.title }}</h1>
        <p class="card-text text-dark">{{ ticket.commentary }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Status: {{ ticket.get_status_display }} 
            <form method="POST" action="{% url 'complete_status' pk=ticket.pk %}">
            {% csrf_token %}
            <button type="submit">Done</button></form>
        </li>
        <li class="list-group-item">Difficulty: {{ ticket.get_difficulty_display }}</li>
        <li class="list-group-item">Date Created: {{ ticket.dateCreated }}</li>
    </ul>
    <p class="card-text text-muted">Created by: {{ ticket.author }}</p>
        <div class="card-body">
        <a href="{% url 'ticket_edit' ticket.id %}" class="card-link">Edit Ticket</a>
        <a href="{% url 'ticket_delete' ticket.id %}" class="card-link text-danger">Delete</a>
        </div>
</div>
{% endblock content %}